*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inputContainer{
    display: flex;
    position: absolute;
    top:10vh;
    left:50%;
    transform: translateX(-50%);
}
#inputPokemon{
    padding: 5px 10px;
    border-radius: 8px 0 0 8px;
    border: solid 2px #5682e2;
    outline: none;
}
#traerDatos{
    background: #5682e2;
    padding: 5px 10px;
    color: #FFFFFF;
    border: solid 2px #5682e2;
    border-radius: 0 8px 8px 0;
}
#traerDatos:hover{
    background-color: #3e60ab;
    border: solid 2px #3e60ab;
}
.pokemonFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
#pokemonName{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}
#pokemonImage{
    background-color: #dae1f1;
    margin-top: 10px;
    border: solid 2px #5682e2;
    border-radius: 12px;
}